# Build documentation
name: documentation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  documentation:
    runs-on: ubuntu-latest
    name: Build documentation
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Set up Python 3.10
        run: uv python install 3.10

      - name: Install package
        run: uv sync --extra dev

      - name: Build documentation
        run: uv run make html --directory docs/
