# this workflow will upload the package to pypi when a new release is created
name: release

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  release:
    name: Release package to PyPI
    runs-on: ubuntu-latest

    steps:
      - name: Check-out repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Set up Python
        run: uv python install 3.11

      - name: Install package
        run: uv sync

      - name: Build wheels and source tarball
        run: uv build

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          skip_existing: true
          verify_metadata: true
          verbose: true
